body {
    font-family: 'Shantell Sans';
    font-weight: bold;
    background-color: #F5F5F5;
    margin: 0 auto;
    width: 600px;
}

.line {
    margin: 10px 0 0 0;
}

.accordion {
    margin: 0;
    padding-left: 0;
    color: #0000FF;
}

.accordion li {
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    padding-top: 10px;
}

.accordion li label {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.accordion li label i {
    transform: rotate(90deg);
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.accordion label + input {
    display: none;
}

.accordion .image {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.accordion li:hover .image {
   max-height: 400px;
}

.accordion input:checked + .image {
    max-height: 400px;
 }