body {
    font-family: 'Shantell Sans';
    font-weight: bold;
    background-color: #F5F5F5;
    margin: 30px auto;
    width: 600px;
}

.header {
    font-size: 32px;
}

.line {
    margin: 10px 0 0 0;
}

.accordion {
    margin: 0;
    padding-left: 0;
    color: #0000FF;
}

.accordion:hover {
    color: black;
}

.accordion li {
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    padding-top: 10px;
}

.accordion li label {
    cursor: pointer;
}

.accordion .section-title {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.accordion input {
    display: none;
}

.accordion .image {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.accordion li:hover .image {
   max-height: 400px;
   transition: 1s;
}

.accordion input:checked + label .image {
    max-height: 400px;
 }

.accordion li:hover label i {
    transform: rotate(45deg);
}

.accordion li input:checked + label i {
    transform: rotate(45deg);
}